{% extends 'base.html' %}
{% block title %}Peason- Change Password{% endblock %}


{% block content %}
<div class="container">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {% endfor %}

    {% block page_content %}
    <div class="page_header">
        <h1>Change Password</h1>
    </div>
    <div>
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.password.label}}
            {{form.password(id='password-field')}}
            {{form.newPassword.label}}
            {{form.newPassword(id='newpassword-field')}}
            {{form.renewPassword.label}}
            {{form.renewPassword(id='newrepeat_password-field')}}
            {{form.submit()}}
        </form>
    </div>
    {% endblock %}
{% endblock %}

