{% extends 'base.html' %}
{% block title %}Peason-Profile{% endblock %}


{% block content %}
<div class="container">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {% endfor %}

    {% block page_content %}
    <div class="page_header">
        <h1>Edit Profile</h1>
    </div>
    <div>
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.student_id.label}}
            {{form.student_id(id='studentid-field')}}
            {{form.member_added_year.label}}
            {{form.member_added_year(id='addedyear-field')}}
            {{form.member_id.label}}
            {{form.member_id(id='memberid-field')}}
            {{form.about_me.label}}
            {{form.about_me(id='aboutme-field')}}
            {{form.submit()}}
        </form>
    </div>
    {% endblock %}
{% endblock %}