{%extends 'base.html'%}

{%block page_content%}
    <div class="page_header">
        <h1>Edit Post</h1>   
    </div> 
    <div>
        {% if current_user.can(Permission.COMMET) %}
        <form method="POST">  
            {{form.hidden_tag()}}
            {{form.body.label}}
            {{form.body()}}
            {{form.submit()}}
        </form>
        {%endif%}
    </div> 
    <div>
        {% include '_posts.html' %}
    </div>
    
{%endblock%}

{%block scripts%}
{{super()}}
{{pagedown.include_pagedown()}} <!--再輸入下方顯示富文本預覽-->
{%endblock%}