{%extends 'base.html'%}
{%import "_macros.html" as macros%} 

{%block page_content%}
<ul class="followers">
    {%for follow in follows%}
    <li class="follow">
        <div class="profile-thumbnail">
            <a href="{{ url_for('main.profile', user_id=follow['user'].id)}}">                
                <img class="img-rounded profile-thumbnail" src="{{ follow['user'].gravatar(size=40) }}">
            </a>
        </div>

        <div class="follow-name">
            {{follow['user'].first_name}}
        </div>
        
        <div class="follow-from-now">
            {{moment(follow['timestamp']).fromNow()}}
        </div>
    {%else%}
        <h3>You haven't following any users!</h3>
    {%endfor%}
    </li>
</ul>
{%endblock%}


{%block scripts%}
{{super()}}
{{moment.include_moment()}}
{{moment.locale('zh-tw')}}
{%endblock%}
    